<div class="mat-typography">
  <mat-sidenav-container class="wrapper">
    <mat-sidenav #sidenav mode="over" opened="false" align="end" class="sidenav" fixedInViewport="true">
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <mat-toolbar color="accent">
        <mat-icon class="hamburger" (click)="sidenav.toggle()">menu</mat-icon>
        <span>&nbsp;&nbsp;Amii-box</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>