<div class="mat-typography">
  <mat-sidenav-container class="wrapper">
    <mat-sidenav #sidenav mode="over" opened="true" align="start" class="sidenav" fixedInViewport="true">
      <mat-toolbar color="accent">
        <span>Menú</span>
      </mat-toolbar>
      <ul class="menu">
        <li>
          <mat-icon>face</mat-icon>
          <span>Mi colección</span>
        </li>
        <li>
          <mat-icon>insert_chart</mat-icon>
          <span>Estadísticas</span>
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <mat-toolbar color="accent">
        <mat-icon class="hamburger" (click)="sidenav.toggle()">menu</mat-icon>
        <span>&nbsp;&nbsp;Amii-box</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="openAddAmiiboModal()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
