.container {
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  + label {
    font-size: .9em;
    font-weight: 700;
    color: red;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    padding: 8px 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    vertical-align: text-top;
    border: solid 3px red;
  }

  :focus + label,
  + label:hover {
    background-color: red;
    color: white;
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
}