<div class="container">
  <div class="list-container">
    <div *ngFor="let amiibo of amiibos">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar [ngClass]="getImageSerie(amiibo.serie)"></div>
          <mat-card-title>
            <div class="amiibo-name">{{ amiibo.name }}</div>
          </mat-card-title>
          <mat-card-subtitle>
            {{ amiibo.serie || '---' }}
          </mat-card-subtitle>
        </mat-card-header>
        <img [ngClass]="amiibo.own ? '' : 'no-own'" mat-card-image src="../../../assets/images/amiibos/{{ amiibo.image }}">
        <mat-card-actions>
          <button *ngIf="!amiibo.own" mat-icon-button color="primary" (click)="toggleOwn(amiibo)">
            <mat-icon>done_all</mat-icon>
          </button>
          <button *ngIf="amiibo.own" mat-icon-button color="warn" (click)="setOwn(amiibo)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
