.container {
  height: calc(100% - 160px); // 84px = alto del toolbar
  overflow: auto;
  padding: 10px;
}

.mat-card-title,
.mat-card-subtitle {
  height: 20px;
  overflow: hidden;
}

.list-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  img {
    background-color: whitesmoke;
    margin-bottom: 0;
  }

  .own-icon {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 100px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 1px 1px #C5E1A5;
    background-color: #DCEDC8;
  }

  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }

  [mat-card-avatar] {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border: solid 1px #ccc;
    background-color: whitesmoke;
  }

  .mat-card-title {
    margin-bottom: 5px;
    margin-top: 3px;
    color: #456;
  }

  .SMO {
    background-image: url('../../../assets/images/series/SMO.png');
  }

  .SM {
    background-image: url('../../../assets/images/series/SM.png');
  }

  .SM30A {
    background-image: url('../../../assets/images/series/SM30A.png');
  }

  .SSB {
    background-image: url('../../../assets/images/series/SSB.png');
  }

  .YWW {
    background-image: url('../../../assets/images/series/YWW.png');
  }

  .AC {
    background-image: url('../../../assets/images/series/AC.png');
  }

  .TLFZBOTW {
    background-image: url('../../../assets/images/series/TLFZBOTW.png');
  }

  .SK {
    background-image: url('../../../assets/images/series/SK.png');
  }

  .TLOZ30A {
    background-image: url('../../../assets/images/series/TLOZ30A.png');
  }

  .SSC {
    background-image: url('../../../assets/images/series/SSC.png');
  }

  .FE {
    background-image: url('../../../assets/images/series/FE.png');
  }

  .S {
    background-image: url('../../../assets/images/series/S.png');
  }

  .CHR {
    background-image: url('../../../assets/images/series/CHR.png');
  }

  .K {
    background-image: url('../../../assets/images/series/K.png');
  }

  .TLOZ {
    background-image: url('../../../assets/images/series/TLOZ.png');
  }

  .M {
    background-image: url('../../../assets/images/series/M.png');
  }

  .P {
    background-image: url('../../../assets/images/series/P.png');
  }

  .no-own {
    opacity: .2;
    transition: linear .2s opacity;

    &:hover {
      opacity: 1;
    }
  }
}

/**
toolbar de filtros
*/
.filter-toolbar {
  font-size: 12pt;

  .select-series {
    margin-right: 20px;
  }

  .select-order {
    margin-right: 20px;
  }

  .spacer {
    flex-grow: 1;
  }

  .asc-desc {
    .desc {
      margin-right: 15px;
    }

    .icon {
      display: inline-flex;
      vertical-align: middle;
    }
  }
}